* {
    margin: 0;
    padding: 0;
}

body {
    background: #a5cfee;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-form-wrapper {
    max-height: 300px;
    max-width: 500px;
}