* {
    background: #33339911;
    margin: 4px;
    padding: 4px;
    border-radius: 6px;
}

body {
    width: 100vw;
    height: 100vh;
}

.main-container {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.common-styles__input {

}

.common-styles__button {

}