<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>COVID Tycoon</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>

<header>
    <h1>COVID Tycoon</h1>
</header>

<div class="interface">
    <div class="store">
        <div class="store-element">
            <button class="quantity-button quantity-button__minus">-</button>
            <label class="store-element__label">Stone</label>
            <label class="store-element__cost">(2000.00)</label>
            <button class="quantity-button quantity-button__plus">+</button>
            <label class="store-element__current-quantity">25</label>
        </div>

        <div class="store-element">
            <button class="quantity-button quantity-button__minus">-</button>
            <label class="store-element__label">Stone</label>
            <label class="store-element__cost">(2000.00)</label>
            <button class="quantity-button quantity-button__plus">+</button>
            <label class="store-element__current-quantity">25</label>
        </div><div class="store-element">
        <button class="quantity-button quantity-button__minus">-</button>
        <label class="store-element__label">Stone</label>
        <label class="store-element__cost">(2000.00)</label>
        <button class="quantity-button quantity-button__plus">+</button>
        <label class="store-element__current-quantity">25</label>
    </div><div class="store-element">
        <button class="quantity-button quantity-button__minus">-</button>
        <label class="store-element__label">Stone</label>
        <label class="store-element__cost">(2000.00)</label>
        <button class="quantity-button quantity-button__plus">+</button>
        <label class="store-element__current-quantity">25</label>
    </div><div class="store-element">
        <button class="quantity-button quantity-button__minus">-</button>
        <label class="store-element__label">Stone</label>
        <label class="store-element__cost">(2000.00)</label>
        <button class="quantity-button quantity-button__plus">+</button>
        <label class="store-element__current-quantity">25</label>
    </div><div class="store-element">
        <button class="quantity-button quantity-button__minus">-</button>
        <label class="store-element__label">Stone</label>
        <label class="store-element__cost">(2000.00)</label>
        <button class="quantity-button quantity-button__plus">+</button>
        <label class="store-element__current-quantity">25</label>
    </div><div class="store-element">
        <button class="quantity-button quantity-button__minus">-</button>
        <label class="store-element__label">Stone</label>
        <label class="store-element__cost">(2000.00)</label>
        <button class="quantity-button quantity-button__plus">+</button>
        <label class="store-element__current-quantity">25</label>
    </div>
    </div>

    <div class="city">
        <div class="city-image">image</div>
        <div class="city-info">info</div>
    </div>
</div>

<footer>this is footer</footer>

</body>
</html>