<!DOCTYPE html>
<html xmlns:form="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>Регистрация</title>
</head>

<body>

<div id="react"></div>
<script src="./generated/app-bundle.js"></script>

<div class="registration-form">
    <form th:action="@{/registration}" modelattribute="userForm" method="post">
        <input class="registration-form__name-input reg-input" placeholder="username" type="text" name="userName"/>
        <input class="registration-form__pass-input reg-input" placeholder="password" type="password" name="pass"/>
        <input class="registration-form__pass-repeat-input reg-input" placeholder="repeat pass" type="password" name="passConfirm"/>
        <input class="registration-form__submit reg-button" type="submit" value="Sign In"/>
    </form>
</div>
</body>
</html>