<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" http-equiv="CONTENT-TYPE" content="text/html; charset=UTF-8"/>
    <title>Регистрация</title>
    <link rel="stylesheet" type="text/css" href="./styles/registration/registration.css"/>
    <link rel="stylesheet" type="text/css" href="./styles/common.css"/>
</head>

<body>

<div id="registration-react"></div>
<script src="./generated/main-generated.js"></script>

<div class="registration-form">
    <form th:action="@{/registration}" modelattribute="userForm" method="post">
        <input class="registration-form__name-input reg-input" placeholder="username" type="text" name="userName"/>
        <input class="registration-form__pass-input reg-input" placeholder="password" type="password" name="pass"/>
        <input class="registration-form__pass-repeat-input reg-input" placeholder="repeat pass" type="password" name="passConfirm"/>
        <input class="registration-form__submit reg-button" type="submit" value="Sign In"/>
    </form>
</div>
</body>
</html>