* {
    background: #55559922;
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
}

header {
    height: 40px;
    width: 100%;
}

footer {
    height: 20px;
    width: 100%;
    background-color: grey;
    position: absolute;
    bottom: 0;
}

.interface {
    position: absolute;
    top:40px;
    bottom: 20px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    padding: 30px;
}

.store {
    flex: 1;
    flex-grow: 3;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    /*width: 35%;*/
    /*display: inline-block;*/
}

.store-element {
    height: fit-content;
    width: fit-content;
    padding: 10px;
    margin: 10px;
}

.quantity-button {
    height: 30px;
    width: 30px;
}

.city {
    display: flex;
    flex-direction: column;
    flex: 2;
    flex-grow: 5;
    margin: 10px;
    height: 100%;
    /*width: 60%;*/
    /*display: inline-block;*/
}

.city-image {
    flex: 1;
    flex-grow: 5;
    background: url("pics/megapolis.jpg") center;
}

.city-info {
    flex: 2;
    flex-grow: 3;
}